// colors
$body-background-color: hsl(185, 41%, 84%);
$main-card-color: hsl(0, 0%, 100%);
$tips-background-color: hsl(183, 100%, 15%);
$active-color: hsl(172, 67%, 45%);
$hover-color: hsl(172, 67%, 75%);
$options-color: hsl(186, 14%, 43%);
$input-background-color: hsl(189, 41%, 97%);
$error-color: #B47D6E;
$placeholders-color: hsl(184, 14%, 56%);

// fonts
$font-family: 'Space Mono', monospace;
$font-weight: 700;
$inputs-font-size: 24px;

// resolutions
$mobile-resolution: 375px;
$desktop-resolution: 1440px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $body-background-color;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header {
        margin-bottom: 70px;
    }

    main {
        // fonts
        font-family: $font-family;
        font-weight: $font-weight;

        // shape
        background: $main-card-color;
        border-radius: 25px;
        height: 500px;
        min-width: 1000px;

        // flex
        display: flex;

        .card {
            width: 100%;
            border-radius: 20px;

            // flex
            display: flex;
            flex-direction: column;
        }

        // right-card
        .display {
            background: $tips-background-color;
            margin: 25px 25px 25px 0;
            padding: 45px 45px 0 45px;

            .output-container {
                display: flex;
                justify-content: space-between;
                margin: 20px 0;

                .output-labels {
                    display: flex;
                    flex-direction: column;

                    .output-title {
                        color: $main-card-color;
                    }

                    .output-subtitle {
                        color: $placeholders-color;
                    }
                }

                .output-result {
                    color: $active-color;
                    font-size: 40px;
                }
            }

            button {
                height: 45px;
                margin-top: 140px;
                text-transform: uppercase;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                background-color: $active-color;
                font-size: $inputs-font-size;
                font-weight: $font-weight;
                color: $tips-background-color;

                &:hover {
                    background-color: $hover-color;
                }
            }
        }

        // left-card
        .options {
            margin: 50px;
            color: $options-color;

            // Input component
            .long-input {
                display: flex;
                flex-direction: column;

                .input-labels {
                    display: flex;
                    justify-content: space-between;
                }

                .error-label {
                    color: $error-color;
                    visibility: hidden;
                }

                .input-container {
                    position: relative;

                    input {
                        height: 40px;
                        width: 100%;
                        border: none;
                        background: $input-background-color;
                        border-radius: 5px;
                        margin-top: 2px;
                        text-align: right;
                        font-size: $inputs-font-size;
                        color: $tips-background-color;
                        font-weight: $font-weight;
                        padding: 0 20px;

                        &:focus {
                            border: $active-color 2px solid;
                            outline: none;
                        }

                        &::placeholder {
                            color: $placeholders-color;
                        }
                    }

                    img {
                        position: absolute;
                        top: 14px;
                        left: 20px;
                    }
                }
            }

            .tips-container {
                margin: 50px 0;

                .tips {
                    display: grid;
                    grid-template-columns: 134px 134px 134px;
                    grid-template-rows: 50px 50px;
                    column-gap: 15px;
                    row-gap: 15px;
                    margin-top: 10px;

                    button {
                        font-size: $inputs-font-size;
                        color: $main-card-color;
                        background-color: $tips-background-color;
                        font-weight: $font-weight;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        font-family: $font-family;

                        &:hover {
                            background-color: $hover-color;
                            color: $tips-background-color;
                        }
                    }

                    input {
                        color: $tips-background-color;
                        text-align: right;
                        padding: 0 20px;
                        font-weight: $font-weight;
                        font-size: $inputs-font-size;
                        background-color: $input-background-color;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;

                        &:focus {
                            border: $active-color 2px solid;
                            outline: none;
                        }

                        &::placeholder {
                            color: $options-color;
                        }
                    }
                }
            }
        }
    }
}

// off spinners
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    font-family: $font-family;
    -moz-appearance: textfield;
}